<!--The content below is only a placeholder and can be replaced.-->
<section>
  <div class="head-section">
    <h4 class="allCampaignHeader">
      <i class="fas fa-envelope"></i>
      All Campaigns
    </h4>
    <div class="campaignListSection">
     <i class="fas fa-align-left"></i>
     <span class="campaignList">Campaign List</span>
    <button type="button" class="btn btn-primary createNewBtn" (click)="openModal(template)">
      + Create New
    </button>
  </div>
  </div>
  <div class="container-fluid content-section">
    <div class="row h100">
      <div class="col-md-8 list-section">
        <app-campaigns-list></app-campaigns-list>
      </div>
      <div class="col-md-4 history-section">
        <app-campaigns-history></app-campaigns-history>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<ng-template #template>
  <div class="modal-body text-center">
    <div class="modal-header">
      <h5>New Campaign</h5>
    </div>
    <div class="modal-body">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Name of Campaign </span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="newCampaignTitle">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="cancelCampaignCreation()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="createNewCampaign()" [disabled]="!newCampaignTitle">Create</button>
    </div>
  </div>
</ng-template>
