<div class="campaignHistory" *ngIf="selectedCampaign && selectedCampaign.history">
  <h5>
    <i class="fas fa-history"></i>
    &nbsp; History
  </h5>
  <h5 style="margin: 0px 0px 60px 30px;">{{selectedCampaign.title}}</h5>
  <div *ngFor="let historyItem of selectedCampaign.history">
    <div *ngIf="historyItem.actionType === '[HistoryActionType] CREATE'" class="margins">
      <div>
        <i class="fas fa-plus-circle"></i>
        Campaign Created
      </div>
      <div>by
          <span class="userName">{{historyItem.actor.name}}</span>
      </div>
    </div>
    <div *ngIf="historyItem.actionType === '[HistoryActionType] COMMENT'" class="margins">
      <div>
        <i class="fas fa-comment-dots"></i>
        Comment added
      </div>
      <div>by
          <span class="userName">{{historyItem.actor.name}}</span>
      </div>
      <div> "{{historyItem.data}}"</div>
    </div>
    <div *ngIf="historyItem.actionType === '[HistoryActionType] RENAME'" class="margins">
      <div>
        <i class="fas fa-user-edit"></i>
        Campaign Renamed
      </div>
      <div>by
        <span class="userName">{{historyItem.actor.name}}</span>
      </div>
      <div>
        <span class="renamedItem">{{historyItem.data.old}}</span>
        {{historyItem.data.current}}
      </div>
    </div>
    <div *ngIf="historyItem.actionType === '[HistoryActionType] PAUSED'" class="margins">
      <div>
        <i class="far fa-pause-circle"></i>
        Campaign Paused
      </div>
      <div>by
          <span class="userName">{{historyItem.actor.name}}</span>
      </div>
    </div>
    <div *ngIf="historyItem.actionType === '[HistoryActionType] RESUMED'" class="margins">
      <div>
        <i class="far fa-play-circle"></i>
        Campaign Resumed
      </div>
      <div>by
          <span class="userName">{{historyItem.actor.name}}</span>
      </div>
    </div>
    <div *ngIf="historyItem.actionType === '[HistoryActionType] DELETE'" class="margins">
      <div>
        <i class="far fa-trash-alt"></i>
        Campaign Deleted
      </div>
      <div>by
          <span class="userName">{{historyItem.actor.name}}</span>
      </div>
    </div>
  </div>
</div>
